:root {
  --solid-heading: rgba(66, 68, 110, 1);
  --dark-content: rgba(102, 102, 102, 1);
  --solid-heading-dark-mode: rgba(204, 204, 204, 1);
  --light-content: rgba(167, 167, 167, 1);
  --dark-mode: rgba(25, 25, 25, 1);
  --button-text: rgba(1, 140, 15, 1);
  --button-success: rgba(215, 255, 224, 1);
  --colors-grey: rgba(235, 234, 237, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --action-primary: rgba(37, 218, 197, 1);
  --buttons-big-font-family: "DMSans-Medium", Helvetica;
  --buttons-big-font-weight: 500;
  --buttons-big-font-size: 20px;
  --buttons-big-letter-spacing: 0px;
  --buttons-big-line-height: 26px;
  --buttons-big-font-style: normal;
  --buttons-middle-font-family: "DMSans-Medium", Helvetica;
  --buttons-middle-font-weight: 500;
  --buttons-middle-font-size: 18px;
  --buttons-middle-letter-spacing: 0px;
  --buttons-middle-line-height: 26px;
  --buttons-middle-font-style: normal;
}
